@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Spartan',sans-serif,20px;
}
body{
    background: white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    cursor: pointer;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.icon{
    font-size: 1.3rem;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.none{
    display: none;
}
.btn{
    padding: .7rem 1.5rem;
    background: coral;
    border: none;
    outline:none;
    border-radius: 3rem;
    cursor: pointer;
    color: cornsilk;
    a{
        color: white;
        font-weight: 500;
    }
    &:hover{
        background: rgb(128, 128, 240);
    }
}

img,video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
    color:gray;
}
p{
    font-size: 13px;
    color: gray;
    line-height: 22px;
}
h4{
    padding: 1rem 0;
    font-weight: 700;
    color: black;
}
h2{
    font-size: 25px;
    padding: 1rem 0;
    color: black
}
.navBar{
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
    .navBarOne, .navBarTwo{
        justify-content: space-between;
        padding: 1rem;
        width:100%;
    }
    .navBarOne{
        background: rgb(218, 203, 203);
        .icon:hover{
            color: rgb(132, 137, 219);
        }
        .atb{
            gap: 1rem;
            span{
                color:black;
                font-size: 13px;
                cursor: pointer;
                &:hover{
                    color: thistle;
                    font-size: 700;
                }
            }
        }
    }
    
    .navBarTwo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3rem;
        padding: 1,5rem 1rem;
        position: fixed;
        transition: .3s ease-in-out;

        .logoDiv{
            .Logo{
                width:20%;
            }
        }
   
    @media screen and (max-width: 1920px){
        .navBarMenu{
            position: absolute;
            background: rgb(243, 230, 230);
            padding: 1,5rem;
            border-radius:20px;
            top: 5rem;
            right:-50%;
            width:80%;
            transform: translateX(50%);
            z-index: 2000;
            box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px,rgba(0,0,0,0.05) 0px 4px 6px -2px;
            border: 3px solid rgb(243, 224, 224);
            transition: .4s ease-in-out;
            .menu{
                flex-direction:column;
                gap:.4rem;
                text-align:center;
                .listItem{
                    padding: .5rem 0;
                    cursor: pointer;
                    color: black;
                    &:hover{
                        color:white;
                        font: weight 700px;
                    }
                }
            }
            .btnOne{
                display: block;
                justify-content: center;
                margin-left: 47%;
                margin-top: 1rem;
            }    
            .btnTwo{
                display: none;
            }
        }
        .toggleIcon{
            .icon{
                font-size: 30px;
                color: black;
            }
        }
        .showNavBar{
            right:50%;
            transition: .5s ease-in-out;
        }
    }
}
}
.home{
    padding-top: 10rem;
    text-align: center;
    gap:2rem;
    flex-direction: column;
    .mainText{
        color: black;
        font-weight:700;
        font-size:15px;
        line-height: 2.5rem;
    }

    .homeImages{
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position:relative;
        border-radius:5rem;

        .videoDiv{
            width: 60%;
            height: 60%;
            .video{
                border-radius: 10rem;
            }
        }
        .car{
            position: absolute;
            width: 47%;
            top: 19%;
            height: 80%;
        }
    }
}

.search {
    .sectionContainer {
        width: 100%;
        padding: 1.5rem;
        border: 2px solid rgb(243, 217, 217);
        border-radius: 16px;
        row-gap: 2rem;

        .btns {
            background: rgb(219, 208, 217);
            padding: .5rem;
            border-radius: 1rem;
            flex-direction: column;
            width: 100%;
            margin: auto;

            .singleBtn {
                padding: .8rem 1.5rem;
                font-size: 13px;
                border-radius: 3rem;
                width: 80%;
                text-align: center;

                &:hover {
                    background: rgb(255, 182, 182);
                    color: white;
                    font-weight: 500;
                    transition: .4s ease;
                }
            }

            .active {
                background: rgb(253, 208, 208);
                color: white;
                font-weight: 500;
            }
        }

        .searchInputs {
            width: 100%;
            justify-content: center;
            flex-direction: column;

            .singleInput {
                .iconDiv {
                    padding: 16px 10px;
                    border-radius: 3rem;
                    background: rgb(243, 237, 237); /* Исправлено значение цвета */
                    margin-right: 1rem;

                    .icon {
                        color: black;
                        opacity: .7;
                    }
                }

                .texts {
                    h4 {
                        padding-top: 0;
                        padding-bottom: .7rem;
                        color: black;
                        font-weight: 700;
                    }

                    input {
                        width: 95%;
                        border: none;
                        outline: none;
                        background: transparent;

                        &::placeholder {
                            font-size: 12px;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}
